#app{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
#left{
	width: 200px;
	overflow-y: scroll;
	height: 100%;
}
#right{
	overflow-y: scroll;
	height: 100%;
}

.el-collapse-item__header{
	padding-left: 20px;
}
.el-collapse-item__content{
	padding-bottom: 0;
}